<ion-view view-title="Bienvenido" name="login-view">
  <ion-content class="padding">
    <div class="list list-inset">
      <h1><center>Ingrese su Código de Autorización</center></h1>
      <label class="item item-input">
        <input type="text" placeholder="Código de Autorización" ng-model="data.code">
      </label>
      <!-- <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label> -->
    </div>
    <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
