<ion-view view-title="Bienvenido" name="login-view" hide-nav-bar="true" class='view-login'>
  <ion-content class="center">

    <div class="row">
      <div class="col">
        <div class='login-wrapper'>
          <form class='login-form'>
          <h3 class='title'>ProAmTennis Perú 2015</h3>
            <input class="input" type="text" placeholder="E-mail" ng-model="data.email">
            <input class="input" type="password" placeholder="Contraseña" ng-model="data.password">
            <button class="button button-block button-calm button-blue" ng-click="login()">Login</button>
          </form>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
