<ion-view view-title="Dashboard">
  <ion-content class="tournaments-list">

    <div class="list">

        <a class="item item-thumbnail-left tournaments-detail" href="#">
          <img src="/img/tennis.png">
          <h2>ProAmTennis 2015</h2>
          <p>Nuevo</p>
        </a>

        <a class="item item-thumbnail-left tournaments-detail" href="#">
          <img src="/img/tennis.png">
          <h2>Smarter Games</h2>
          <p>Nuevo</p>
        </a>

        <a class="item item-thumbnail-left tournaments-detail" href="#">
          <img src="/img/tennis.png">
          <h2>ProAmTennis 2016</h2>
          <p>Nuevo</p>
        </a>
        
    </div>

  </ion-content>
</ion-view>
