<ion-view view-title="Dashboard">
  <ion-header-bar class="bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </ion-header-bar>
  <ion-content class="tournaments-list">
    <div class="list">
        <a class="item item-thumbnail-left tournaments-detail" ng-repeat="tt in data.tennis_tournaments"  href="#/tournaments/{{tt.id}}">
          <img ng-src="{{tt.image}}">
          <h2>{{tt.name}}</h2>
          <p>{{tt.status}}</p>
        </a>
    </div>

  </ion-content>
</ion-view>
