/* Empty. Add your own CSS if you like */
.tournaments-detail {
	padding : 27px 25px 25px 104px;
}

.tournaments-detail img {
	left: 18px !important;
	top: 18px !important;
	width: 64px !important;
	height: 64px !important;
}